<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href={% static
    "base_style.css" %}>
    {% block head %}{% endblock %}
    <title>Dictionaire</title>
</head>
<body>
<header>
<div class="page-header">
    <div id="top_panel">
        <img class='.img-responsive' src={% static "db_editor/han_button.png" %} id='app_logo' alt="static_image"/>
        <a href="download_csv/">Download CSV</a>
    </div>
    {% if show_header %}
    {% if username == None %}
    <div>
        You are connected as a guess.
    </div>
    <div>
        <a href="/editor/accounts/login">Login</a>
    </div>
    {% else %}
    <div>
        Connected as '{{username}}'
    </div>
    <div>
        <a href="/editor/accounts/logout">Logout</a>
    </div>
    {% endif %}
    {% endif %}
</div>
</header>
<main>
<section id="content">
    {% block content %}{% endblock %}
</section>

</main>
<footer> auteur: daoliangshumaishuji</footer>
</body>
</html>
