{% extends "base.html" %}
{% block add_entry %}
<table class="jp_word_entries_container">
    <tr>
        <th>Add entry:</th>
    </tr>
    <tr>
        <th>French</th>
        <th>Japanese</th>
        <th>Japanese Kanji</th>
        <th>Chinese</th>
        <th>Lesson</th>
        <th>Thematic</th>
        <th>Level</th>
    </tr>
    <tr>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
        <td contenteditable='true'></td>
    </tr>
</table>

{% endblock %}
