{% load custom_filters %}


<div class="container-fluid" id="add_panel">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12">
            <div id="toggle_add" onmouseup="toogleAddPanelDisplay(this)"
                 onpress="toogleAddPanelDisplay(this)
            title=" Press to togglethe display of the create entry panel
            ">
            <p><span class='glyphicon glyphicon-minus'></span> Show Add Panel</p></div>
    </div>
</div>
<div class="row" id="new_id_fields" style="display:none;">
    <div class="col-sm-1 col-xs-1 col-md-1">ID</div>
    <div class="col-sm-9 col-xs-9 col-md-9">Fields</div>
    <div class="col-sm-2 col-xs-2 col-md-2">Update</div>
</div>
<div class="row" id="new_id" style="display:none;">
        <div class="col-sm-1 col-xs-1 col-md-1">
            <button type="button"
                    title="Clean"
                    class="btn btn-default btn-sm"
                    name='new_id'
                    onmouseup="clean_row_to_add(this)">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
        </div>


        <div class="col-sm-9 col-xs-9 col-md-9">
            {% for i in 4|times %}
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="col-sm-2 col-xs-2 col-md-2">
                    {% cycle 'fr_1' 'jp_1' 'jp_2' 'zh_1' as my_fields %}
                </div>

                <div class="col-sm-10 col-xs-10 col-md-10 ">
                    <div class={{ my_fields }}
                         contenteditable="true">
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="col-sm-2 col-xs-2 col-md-2">
                    thematic
                </div>

                <div class="col-sm-10 col-xs-10 col-md-10 ">
                    <select class="thematic">
                        {% for key, value in thematic_choices %}
                        <option value={{value}}>
                            {{value}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="col-sm-2 col-xs-2 col-md-2">
                    level
                </div>

                <div class="col-sm-10 col-xs-10 col-md-10 ">
                    <select class="lv">
                        {% for key, value in lv_choices %}
                        <option value={{value}}>
                            {{value}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 ">
            <button type="button" name='new_id' title="Add the entry" onmouseup="ajax_update_entry(this)"
                    class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </button>

        </div>
    </div>
</div>


