{% extends "base.html" %}
{% load static %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<script type="text/javascript" src={% static "db_editor/jquery-3.2.1.min.js" %}> </script>
<script type="text/javascript" src={% static "db_editor/my_ajax_function.js" %} ></script>
<script type="text/javascript" src={% static "db_editor/my_events.js" %}></script>

<link rel="stylesheet" type="text/css" href={% static "db_editor/style.css" %}>
{% endblock %}

{% block content %}
<div class="img_container">
    <img src={% static "db_editor/han_button.png" %} alt="static_image"/>
</div>


{% if form_search_was_valid %}

{% else %}
	<form action="/editor/home" method="POST">{% csrf_token %}
	<ul>
	{{ form_search.as_ul}}
	<li><label for="submit">&nbsp</label>
	<input type="submit" id="submit" name="submit" value="Submit"/></li>
	</ul>
	</form>
{% endif %}
<table class="jp_word_entries_container">
	{%include "db_editor/populate_entries.html" %}
</table>
{% endblock %}

{% block add_entry %}
	 <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}

