{% extends "base.html" %}
{% load static %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src={% static "db_editor/jquery-3.2.1.min.js" %}> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src={% static "db_editor/my_ajax_function.js" %} ></script>
<script type="text/javascript" src={% static "db_editor/my_events.js" %}></script>

<link rel="stylesheet" type="text/css" href={% static "db_editor/style.css" %}>
{% endblock %}

{% block content %}
<div id="display_state_panel">
</div>


{% if form_search_was_valid %}

{% else %}
{% include "db_editor/search_entries_block.html" %}
{% endif %}
<div id="populate_content">
    {% include "db_editor/populate_entries.html" %}
</div>
{% endblock %}
