{% load custom_filters %}

{% if username %}
{% include "db_editor/add_entry.html" %}
{% endif %}


<div class="container-fluid" id="entries_list">
    <div id="page_nav_panel">
        <button type="button"
                name='previous_page'
                class="btn btn-danger btn-sm btn-md btn-xs"
                onmouseup="ajax_previous_page(this)"
                {% if current_page== 0 %}
                disabled
                {% endif %}
                {% if username== None %}disabled{% endif %}>
            <span class="glyphicon glyphicon-backward"></span>
        </button>
        <button type="button" disabled
                name='current_page'
                class="btn btn-danger btn-sm btn-md btn-xs"
                {% if username== None %}disabled{% endif %}>
            <span class="glyphicon glyphicon-oil">{{current_page}}/{{last_page}}</span>

        </button>

        <button type="button"
                name='next_page'
                class="btn btn-danger btn-sm btn-md btn-xs"
                onmouseup="ajax_next_page(this)"
                {% if current_page== last_page %}
                disabled
                {% endif %}
                {% if username== None %}disabled{% endif %}>
            <span class="glyphicon glyphicon-forward"></span>
        </button>
    </div>
    <div class="row">
        <div class="col-sm-1 col-xs-1 col-md-1">ID</div>
        <div class="col-sm-9 col-xs-9 col-md-9">Fields</div>
        <div class="col-sm-2 col-xs-2 col-md-2">Update</div>
    </div>
    {% for myrow in data %}
    <div class="row" id={{myrow.pk}}>
        <div class="col-sm-1 col-xs-1 col-md-1">
            <button type="button"
                    class="btn btn-active btn-sm btn-md btn-xs"
                    name={{myrow.pk}}
                    label="color_black"
                    onmouseup="toggle_editable_component(this)"
                    {% if username== None %}
                    disabled
                    {% endif %}
            >
                <span class="glyphicon glyphicon-edit"></span>

            </button>
            <div class='date'>

                last:[{{ myrow.fields.date }}]
            </div>
            <div class="update_status">
            </div>
            <br>
        </div>


        <div class="col-sm-9 col-xs-9 col-md-9">
            <div class="col-sm-12 col-xs-12 col-md-12">

                {% for i in 2|times %}
                <div class="col-sm-1 col-xs-1 col-md-1">
                    {% cycle 'fr_1' 'fr_2' as my_fields %}
                </div>
                {% if my_fields == 'fr_1' %}
                <div class="col-sm-8 col-xs-8 col-md-8 ">
                    <div class={{ my_fields }}
                         contenteditable="false">
                        {{myrow.fields.items|get_key_value:my_fields}}
                    </div>
                </div>
                {% else %}
                <div class="col-sm-2 col-xs-2 col-md-2 ">
                    <div class={{ my_fields }}
                         contenteditable="false">
                        {{myrow.fields.items|get_key_value:my_fields}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% for i in 3|times %}
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="col-sm-2 col-xs-2 col-md-2">
                    {% cycle 'jp_1' 'jp_2' 'zh_1' as my_fields %}
                </div>

                <div class="col-sm-10 col-xs-10 col-md-10 ">
                    <div class={{ my_fields }}
                         contenteditable="false">
                        {{myrow.fields.items|get_key_value:my_fields}}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="col-sm-2 col-xs-2 col-md-2">
                    thematic
                </div>

                <div class="col-sm-10 col-xs-10 col-md-10 ">
                    <select class="thematic_select">
                        {% for key, value in thematic_choices %}
                        <option value={{key}}
                                {% if myrow.fields.thematic== key %}
                                selected
                                {% endif %}>
                            {{value}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="col-sm-2 col-xs-2 col-md-2">
                    level
                </div>

                <div class="col-sm-10 col-xs-10 col-md-10 ">
                    <select class="lv_select">
                        {% for key, value in lv_choices %}
                        <option value={{key}}
                                {% if myrow.fields.lv== key %}
                                selected
                                {% endif %}>
                            {{value}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 ">
            <div class="col-sm-12 col-xs-12 col-md-12 ">
                <button type="button"
                        name={{myrow.pk}}
                        onmouseup="ajax_update_entry(this)"
                        class="btn btn-success btn-sm btn-md btn-xs"
                        {% if username== None %}disabled{% endif %}>
                    <span class="glyphicon glyphicon-ok-sign"></span>
                </button>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 ">
                <div class="min_height_separator"></div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 ">
                <button type="button"
                        name={{myrow.pk}}
                        class="btn btn-danger btn-sm btn-md btn-xs"
                        onmouseup="ajax_remove_entry(this)"
                        {% if username== None %}disabled{% endif %}>
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>


        </div>
    </div>
    {% endfor %}

</div>



